
@font-face {
    font-family: kollektif;
    src: url(./fonts/kollektif/Kollektif-Bold.ttf);
  }

  @font-face {
    font-family: kollektif-not;
    src: url(./fonts/kollektif/Kollektif.ttf);
  }

body {
    background-color: #eeeeee;
    color: #1a1717;
}

p {
    font-size: x-large;
    font-family: kollektif;
    color: #524e4e;
    /* text-align: center; */
    margin-left: 10%;
    margin-right: 10%;
}

#h1-1 {
    font-family: kollektif;
    font-size: 1700%;
    text-align: center;
    margin-bottom: 0%;
    color: #252424;
}

#tini {
    font-size: 30%;
}

#h1-2 {
    margin-top: 0%;
    font-family: kollektif;
    text-align: center;
    color: #b8b6b6;
    font-size: 200%;
}

.quotes {
    color: #b8b6b6;
    font-size: 70%;
    vertical-align: top;
}

#graphs {
    margin-left: 10%;
}

#note {
    text-align: center;
    margin-top: 30%;
    color: #b8b6b6;
    font-size: 150%;
}

.note {
    margin-top: 30%;
    color: #b8b6b6;
    font-size: 70%;
}

.tini-letter {
    font-family: kollektif-not;
    font-size: 80%;
    font-weight: 600;
}

.tittle {
    color: #252424;
    font-size: 130%;
}

.sub-tittle {
    color: #252424;
    font-size: 120%;
}

.citation {
    font-size: 85%;
    font-family: kollektif-not;
}

#graph-num-p {
    display: inline;
    text-align: center;
}

.graph {
    margin: none;
    border-radius: 5mm;
    display: block;
}

#graph-1 {
    display: inline-block;
    text-align: center;
}

.btn {
    margin-left: 0.5%;
    margin: 2mm;
    height: 30px;
    border-radius: 1.5mm;
    background-color: #524e4e;
    color: #cacaca;
    border-style: none;
    font-size: larger;
    font-weight: 500;
    min-width: 100px;
    font-family: kollektif-not;
    margin-left: 1%;
}